/* body {
  font-family: "Montserrat", sans-serif;
  font-family: "Ubuntu", sans-serif;
} */

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 100;
  text-align: center;
}
.container-fluid {
  padding: 7% 14%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

p {
  color: #8f8f8f;
  font-weight: 400;
}
em {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}
/* Headings */
.big-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}
.section-heading {
  line-height: 1.5;
}

/* Color Sections */
.white-section {
  background-color: #fff;
}
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}
/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
.navbar-toggler {
  border: none;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5em;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}
/* Title Section */
#title {
  font-weight: "Montserrat";
  text-align: left;
}
#title .container-fluid {
  padding: 3% 15% 10%;
}
.download-button {
  color: #fff;
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */
#features {
  background-color: #fff;
  position: relative;
}

.feature-box {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 2%;
  padding-left: 2%;
}
.feature-title {
  font-size: 1.5rem;
}
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #ff4c68;
}
/* Testimonials Section */
#testimonials {
  background-color: #ef8172;
}
.testimonials-image {
  border-radius: 50%;
  width: 10%;
  margin: 20px;
}

.testimonial-text {
  line-height: 1.5;
}
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section*/

.card {
  margin-bottom: 10%;
  margin-top: 10%;
}
.pricing-text {
  line-height: 1.5;
}
.princing-column {
  padding: 2% 3%;
}
.card-btn-text {
  color: #fff;
}
.price-card-title {
  font-size: 1.5rem;
  margin-top: 3%;
}

/* Footer section  */
#footer {
  padding: 2% 14%;
}
.f-button {
  margin: 5% 1.5%;
}

@media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
    margin-top: 5%;
  }
  #title {
    text-align: center;
  }
  .navbar {
    padding-bottom: 3%;
  }
  #footer {
    padding: 5% 14%;
  }
  .f-button {
    margin: 5% 5%;
  }
}
