<%-include('partials/header.ejs')%>
<h1>Compose</h1>
<form action="/compose" method="post">
  <input type="text" name="" id="">
  <button type="submit">Publish</button>
</form>
<%-include('partials/footer.ejs') %>