.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393e46;
}

h1,
h4 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ecca3;
}
h1 {
  margin-bottom: 0;
}
h4 {
  font-size: 3rem;
  margin-top: 0;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
  margin-bottom: 1.5%;
  margin-top: 4%;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

@media (max-width: 990px) {
  .dice {
    display: block;
  }
  .container {
    margin-top: 8%;
  }
  p {
    font-size: 5rem;
  }
  img {
    width: 60%;
  }
  h1 {
    font-size: 6rem;
  }
  h4 {
    font-size: 4rem;
  }
}
