<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>
</head>
<body>
  <h1>It's a <%= kindOfDay %>!</h1>
  <ul>
    <li>Buy Food</li>
    <li>Cook Food</li>
    <li>Eat Food</li>
  </ul>
  <form action="/" method="post">
    <input type="text" name="newItem">
    <button type="submit" name="button">Add</button>
  </form>
</body>
</html>