<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

  <!--Open Graph's-->
  <meta property="og:image" content="https://i.imgur.com/A1sTsPK.png"/>
  <meta property="og:title" content="To Do List"/>
  <meta property="og:description" content="List all of the tasks that you have to do, or things that you want to do."/>
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#A683E3">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#A683E3">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="#A683E3">
</head>

<body>
